.mouth {
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    // margin: 0 auto;
    width: 40em;
    aspect-ratio: 2 / 1;
    // background-color: rgb(102, 5, 5);
    border-radius: 0 0 20em 20em;
    overflow: hidden;
    box-shadow: 1px 1px 0px 500vw #171717;
    pointer-events: none;
}

.teeth {
    display: flex;
    gap: 0.05em;
    height: 50%;

    .tooth {
        flex: 1;
        height: 100%;
        background-color: #ffffff;
        border: 2px solid black;
        box-shadow: 0 2px 2px #131313;
    }

    &--top {
        &::before {
            content: '';
            position: absolute;
            background-color: #e44c65;
            top: -150px;
            left: -50%;
            height: 190px;
            width: 200%;
            box-shadow: 0 2px 2px #5e5e5e;
            border-radius: 100%;
        }

        .tooth {
            border-top: none;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            &:nth-child(1),
            &:nth-child(8) {
                height: 50%;
            }

            &:nth-child(2),
            &:nth-child(7) {
                height: 60%;
            }

            &:nth-child(3),
            &:nth-child(6) {
                height: 70%;
            }

            &:nth-child(4),
            &:nth-child(5) {
                height: 80%;
            }
        }
    }

    &--bottom {
        &::before {
            content: '';
            position: absolute;
            background-color: #e44c65;
            bottom: -150px;
            left: -50%;
            height: 190px;
            width: 200%;
            box-shadow: 0 -2px 2px #5e5e5e;
        }

        .tooth {
            border-bottom: none;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            align-self: flex-end;

            &:nth-child(1),
            &:nth-child(8) {
                height: 75%;
            }

            &:nth-child(2),
            &:nth-child(7) {
                height: 70%;
            }

            &:nth-child(3),
            &:nth-child(6) {
                height: 65%;
            }

            &:nth-child(4),
            &:nth-child(5) {
                height: 60%;
            }
        }
    }
}

.room {
    height: 100vh;
    height: 100dvh;
    background: radial-gradient(hsl(100, 28%, 37%), hsl(100, 28%, 17%));
}

.table {
    background: radial-gradient(#dc824c, #7f5134);
    box-shadow: 15px 20px 9px 0px #00000059;
    border-bottom: 9px solid #442b1c;
    border-right: 9px solid #5c3a26;
    border-radius: 9px;
    height: 300px;
    width: 150px;
    margin: 1em auto;
    transform: rotate(60deg);

    >* {
        transform: rotate(-90deg);
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        box-shadow: 3px 3px 1px 0px #00000059;
        border-bottom: 6px solid #442b1c;
        border-right: 6px solid #5c3a26;
        border-radius: 9px;
        height: 95%;
        width: 50px;
        bottom: 0;
        right: 150px;
        background-color: #7f5134;
    }

    &::before {
        right: 145px;
    }

    &::after {
        right: -70px;
    }
}

.chompAnimation {
    animation: chomp 1s 1;
}

@keyframes chomp {
    50% {
        height: 95%;
    }
}

.burger {
    height: 30px;
    width: 30px;
    box-shadow:
        1px 2px 0px 0px green,
        0px 5px 0px -1px gold,
        0px 6px 0px 0px maroon,
        0px 7px 0px 0px green,
        0px 9px 0px 0px goldenrod,
        -1px 13px 1px 0px #00000059,
    ;
    border-radius: 100%;
    background: radial-gradient(hsl(43, 74%, 49%), hsl(43, 74%, 35%));

    &--rotten {
        background: radial-gradient(hsl(68, 34%, 49%), hsl(68, 34%, 35%));
    }

    &--cheeseless {
        box-shadow:
            1px 2px 0px 0px green,
            0px 5px 0px 0px maroon,
            0px 6px 0px 0px green,
            0px 8px 0px 0px goldenrod,
            0px 11px 1px 0px #00000059,
        ;
    }

    &--plain {
        box-shadow:
            0px 3px 0px 0px maroon,
            0px 5px 0px 0px goldenrod,
            0px 8px 1px 0px #00000059,
        ;
    }
}

.blanket {
    margin-left: 5em;
    height: 250px;
    width: 250px;
    background:
        repeating-linear-gradient(180deg, #ff080080,
            #ff080080 5%, #ffffff90 5%, #ffffff90 10%),
        repeating-linear-gradient(90deg, #ff080080,
        #ff080080 5%, #ffffff90 5%, #ffffff90 10%);

    box-shadow: -3px 2px 2px 0px #00000059;
}