.piano {
    --padding: 50px;

    width: fit-content;
    margin: 1em auto;
    padding: var(--padding) var(--padding) var(--padding);
    background: linear-gradient(#232323, #3c3c3c);
    border-radius: 25px;
    box-shadow: 0 2em 0 0 #1a1a1a;

    .label-toggle {
        position: relative;
        margin-bottom: 3em;
        width: 1.5em;
        height: 1.5em;
        border: none;
        background: linear-gradient(#1d1d1d, #373737);
        border-radius: 100%;
        cursor: pointer;

        &::before {
            content: 'Toggle Labels';
            position: absolute;
            inset: -1em 0 0 3em;
            text-transform: uppercase;
            font-size: 0.75rem;
            color: #bebebe;
        }

        &::after {
            content: '';
            position: absolute;
            background-color: hsl(0, 0%, 12%);
            width: 1em;
            height: 1em;
            inset: 0;
            margin: auto;
            border-radius: 100%;
            box-shadow: 0 2px 2px 2px #000000;
        }

        &:active::after {
            box-shadow: 0 1px 1px 1px #000000;
        }
    }

    .toggle-light {
        width: 0.5em;
        height: 0.5em;
        border-radius: 100%;
        margin-left: 0.5em;
        background-color: #2f0404;
        transition: 0.3s ease-in-out;
    }

    .toggle-light[data-state="on"] {
        background-color: #e91616;
    }

    .keys {
        --gap: 0.25em;
        --strip-height: 10px;

        display: flex;
        gap: var(--gap);
        position: relative;

        //Felt strip
        &::before {

            content: '';
            position: absolute;
            top: calc(-1 * var(--strip-height));
            height: var(--strip-height);
            width: 100%;
            background-color: #530f0f;
        }
    }

    .scale {
        position: relative;
        display: flex;
        gap: var(--gap);
        padding-bottom: var(--shadow-height);
        background-color: #171717;

        --white-key-height: 15em;
        --black-key-height: 8.75em;
        --white-key-width: 4.375em;
        --black-key-width: 2.5em;
        --shadow-height: 0.5em;
    }

    &-key {
        height: var(--white-key-height);
        width: var(--white-key-width);
        background-color: #ffffff;
        border: none;
        box-shadow: 0 var(--shadow-height) 0 #cccccc;
        padding-top: calc(var(--white-key-height) - var(--shadow-height) - 2em);
        transition: 0.1s;

        &:active {
            box-shadow: none;
            transform: translateY(var(--shadow-height));
        }

        &--black {
            position: absolute;
            color: #ffffff;
            height: var(--black-key-height);
            width: var(--black-key-width);
            padding-top: calc(var(--black-key-height) - var(--shadow-height) - 2em);
            background-color: #000000;
            border: none;
            box-shadow: 0 var(--shadow-height) 0 #333333;
            z-index: 1;

            &:nth-of-type(2) {
                left: calc((1*var(--white-key-width)) - (var(--black-key-width)/2) + (var(--gap)*1));
            }

            &:nth-of-type(4) {
                left: calc((2*var(--white-key-width)) - (var(--black-key-width)/2) + (var(--gap)*2));
            }

            &:nth-of-type(7) {
                left: calc((4*var(--white-key-width)) - (var(--black-key-width)/2) + (var(--gap)*4));
            }

            &:nth-of-type(9) {
                left: calc((5*var(--white-key-width)) - (var(--black-key-width)/2) + (var(--gap)*5));
            }

            &:nth-of-type(11) {
                left: calc((6*var(--white-key-width)) - (var(--black-key-width)/2) + (var(--gap)*6));
            }

            &:active {
                transform: none;
                height: calc(var(--black-key-height) + var(--shadow-height));
            }
        }
    }
}

.clues {
    display: flex;
    gap: 2em;
    width: fit-content;
    margin: 0 auto;
    .clue {
        width: 10em;
        height: 10em;
    }

}